body {
  font-family: "Lato", sans-serif;
}
p {
  font-size: 22px;
}
.bs-section {
  padding: 0 10px;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
}
/* overriding bootstrap */
.btn-primary {
  color: #fff;
  background-color: #4872ec;
  border-color: transparent;
  text-transform: uppercase;
}

.btn-group-lg > .btn,
.btn-lg {
  border-radius: 60px;
}
.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar.header-scroll {
  background: rgba(33, 65, 128, 0.95);
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  text-decoration: underline;
}
.navbar-brand > img {
  height: 25px;
}
/* hero */
.hero {
  background: url(../img/hero-img.png) scroll 0 0 #214180;
  background-repeat: no-repeat;
}
.hero h1,
.hero p {
  color: #fff;
}
.hero p {
  margin-bottom: 20px;
}
.hero-cta {
  padding: 300px 0 160px 0;
  width: 50%;
}
/* sections */
.content-section {
  padding: 60px 0;
}
.content-section h2 {
  text-align: center;
  font-weight: 700;
}
.serv-units {
  text-align: center;
}
.serv-units img {
  width: auto;
  height: 100px;
  margin: 20px 0;
}
/* work */
.cs-work {
  background: #f6f6f6;
}

.work-units img {
  width: 100%;
  height: auto;
  margin: 20px 0;
}

/* footer */

footer {
  background: #214181;
  color: #fff;
}
footer .container {
  padding: 60px 0;
}
footer p {
  font-size: 18px;
}
